<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">ekbnasoposnvxv</property>
        <property name="hibernate.connection.password">c7a6a2bec4d0838a7246b9910079112143ec42aa62c5b8fa6f80bcff6b46ab4d</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-155-110-181.eu-west-1.compute.amazonaws.com:5432/duvk5j2f0cvu6?sslmode=require</property>

        <property name="connection_pool_size">20</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <mapping class="pl.sda.hotelweatherproject.dtos.WorldCitiesDto"/>

    </session-factory>
</hibernate-configuration>
